html, body {
    margin: 0;
    padding: 0;
    background: #111D4A;
    font-family: 'Blinker', sans-serif;}


p, h1 {
    color: white;
}

h1 {
    letter-spacing: 0px;
    color: #05CBE9;
    opacity: 1;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.main {
    display: flex;
    flex-direction: column;
}


.info {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
}

button {
    background: #05CBE9 0% 0% no-repeat padding-box;
    opacity: 1;
    margin:5px;
}

div p {
    text-align: left;
    letter-spacing: NaNpx;
    color: #FFFFFF;
    opacity: 0.51;
}
@media only screen and (min-width: 600px) {
    img {
        height: 100vh;
    }
    .main {
        flex-direction: row;
    }
    .info {
        flex-direction: column;
    }
}