html, body {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;}

.main {
    display: flex;
    flex-direction: column;
    background: #111D4A;
    margin:4em;
}
p, h1 {
    color: white;
}

h1 {
    letter-spacing: 0px;
    color: #05CBE9;
    opacity: 1;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-image {
    width:100%;
}
.info {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left:1em;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

.btn {
    font-size: 1.25rem;
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: 0.6em 1.6em;
    letter-spacing: 1px;
}

div p {
    text-align: left;
    letter-spacing: NaNpx;
    color: #FFFFFF;
    opacity: 0.51;
}
@media only screen and (min-width: 600px) {
    img {
        height: 100%;
    }
    .main-image {
        width:50%;
    }
    .main {
        flex-direction: row;
    }
    .info {
        flex-direction: column;
    }
}